{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="max-width: 450px; width: 100%;">
      <h2 class="text-center mb-3">Create Account</h2>
      <p class="text-center text-muted mb-4">
        Register to shop at TechZone
      </p>
      <form>
        <div class="mb-3">
          <label class="form-label">Full Name</label>
          <input type="text" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Email Address</label>
          <input type="email" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          <input type="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-2">
          Register
        </button>

      </form>

      <p class="text-center mt-3">
        Already have an account?
        <a href="/login">Login</a>
      </p>
    </div>
</div>

{% endblock %}


