{% extends "base.html" %}
{% from "macros.html" import create_card %}
{% block title %}Home - Coffeewood{% endblock %}

{% block extra_css %}
<style>
.carousel-item { height: 400px; background-color: #1c1c1c; }
.carousel-item img { width: 100%; height: 100%; object-fit: contain; }
</style>
{% endblock %}

{% block content %}
<div class="container-md bg-white px-3 py-4 shadow border rounded">

    <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/Five_Nights_At_Freddy\'s_2_Movie_Poster.png') }}" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/Dreamgirls.jpg') }}" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/Avatar_Fire_and_Ash_poster.jpeg') }}" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/onesheet.jpg') }}" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        {% for movie in movies %}
            {{ create_card(movie) }}
        {% endfor %}
    </div>

</div>
{% endblock %}


